$black: #000000;
$charcoal: #333333;
$white: #FFFFFF;
$mercury: #F7F7F7;
$silver: #d4d5d4;
$flint: #cccccc;

$grey: #959595;
$silver: #e6e6e6;

$neptune: #a0cdc1;
$sky: #3e90ce;
$picton: #00bbed;
$green: #009f00;
$orange: #ff7a01;
$pink: #ff2e66;


$digital: #3e90ce;
$presentations: #00879b;
$creative: #319c49;
$video: #ff2e66;
