// Global Measures
$width: 960;

// Layout
$gutter: 40px;
$gutter-wide: 120px;

// Responsive breakpoints
$desktop: 1170px;
$laptop: 940px;
$tablet: 780px;
$mobile: 450px;

// Image Paths
$images-url: "../images/";
$spritesheet: $images-url + "spritesheet.png";
