.row {
	display: block;
	height: 100%;
	margin-left: -$gutter / 2;
	margin-right: -$gutter / 2;
	@include clearfix;

	&.row-compact {
		height: auto;
	}
	&.row-wide {
		margin-left: -$gutter-wide / 2;
		margin-right: -$gutter-wide / 2;
	}

	&.flex {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;
	}
}

.flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

[class^="col-"] {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	padding-left: $gutter / 2;
	padding-right: $gutter / 2;

	.row-wide & {
		padding-left: $gutter-wide / 2;
		padding-right: $gutter-wide / 2;
	}
	.flex & {
		float: none;
		height: auto;
	}
}

.col-50 {
	@include breakpoint(tablet) {
		width: 50%;
		.flex & {
			flex-basis: 50%;
			width: auto;
		}
	}
}

.col-33 {
	@include breakpoint(laptop) {
		width: 33.333333%;
		.flex & {
			flex-basis: 33.333333%;
		}
	}
}
.col-40 {
	@include breakpoint(laptop) {
		width: 40%;
		.flex & {
			flex-basis: 40%;
		}
	}
}
.col-60 {
	@include breakpoint(laptop) {
		width: 60%;
		.flex & {
			flex-basis: 60%;
		}
	}
}

.col-66 {
	@include breakpoint(laptop) {
		width: 66.666666%;
		.flex & {
			flex-basis: 66.666666%;
		}
	}
}

.col-desktop-33 {
	@include breakpoint(desktop) {
		width: 33.333333%;
		.flex & {
			flex-basis: 33.333333%;
		}
	}
}

.col-desktop-66 {
	@include breakpoint(desktop) {
		width: 66.666666%;
		.flex & {
			flex-basis: 66.666666%;
		}
	}
}

.col-1of6 {
	@include breakpoint(tablet) {
		width: 16.666666%;
		.flex & {
			flex-basis: 66.666666%;
		}
	}
}

.flex-v {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	width: 100%;
	height: 100%;
	> div {
		padding: 50px 0;
		flex-basis: 50%;
	}
}

[class^="flex-v-item-"] {
	padding-top: $gutter;
	padding-bottom: $gutter;
}

.flex-v-item-50 {
	flex-basis: 50%;
}
